{% extends 'CDECartBundle:Mail:base.txt.twig' %}

{% block title %}
You have a new comment on the gallery titled "{{ comment.gallery.title }}".
{% endblock %}

{% block main %}
<p>
    Comment:
    {{ comment.comment | markdown | purify | raw }}
</p>

<p>
    View all comments at {{ url('CDEUtilityBundle_index') }}/#!/gallery/{{ comment.gallery.id }}
</p>

{% endblock %}