{% extends '::base.html.twig' %}
{% block main %}
    <div class="meta-page">
        <div class="about"></div>
        <p>
            Melissa has been a calligraphy nut for years.  She's done commercial work for companies large and small, and she teaches classes regularly in the Salt Lake City, Utah area.  Melissa publishes her work at <a href="melissaesplin.com">MelissaEsplin.com</a> (aka I Still Love You), her craft/design/everything blog.
        </p>
        <p>
            I Still Love Calligraphy is a joint production of half one and half two of the Esplin family.  <a href="christopheresplin.com">Chris</a> did the web development and <a href="melissaesplin.com">Melissa</a> created all of the content.  If there's a problem, it's Chris's fault, and you should <a href="mailto:help@melissaesplin.com">email</a> us to complain.
        </p>
        <p>
            <img style="display: block; margin: auto;" src="http://images.melissaesplin.com/calligraphy/us.jpg"/>
        </p>
        
    </div>
{% endblock %}
