{% extends '::base.html.twig' %}
{% block main %}
    <div class="meta-page">
        <div class="press"></div>
        <h3 id="blurb-header">Read what these bloggers have to say about Melissa's calligraphy workshops</h3>
        <ul id="blurbs">
            <li>
                <a href="http://www.simplelovelyblog.com/2011/01/zen-of-calligraphy-wise-dj-and-outfit.html">
                    <img src="http://images.melissaesplin.com/calligraphy/blurbs/joslyn.png">
                </a>

                <a class="blurb-link" href="http://www.simplelovelyblog.com/2011/01/zen-of-calligraphy-wise-dj-and-outfit.html">Joslyn</a>
                <span>
                    Calligraphy is akin to meditation.
                </span>
            </li>
            <li>
                <a href="http://padgetthoke.blogspot.com/2011/01/goal-calligraphy.html">
                    <img src="http://images.melissaesplin.com/calligraphy/blurbs/padgett.png">
                </a>
                <a class="blurb-link" href="http://padgetthoke.blogspot.com/2011/01/goal-calligraphy.html">Padgett</a>
                <span>
                    It ignited my passion for [calligraphy] and made me really want to stick with the resolution [to learn calligraphy]!
                </span>
            </li>
            <li>
                <a href="http://www.ohhellofriendblog.com/2011/01/summing-up-alt-summit-2011.html">
                    <img src="http://images.melissaesplin.com/calligraphy/blurbs/danni.png">
                </a>
                <a class="blurb-link" href="http://www.ohhellofriendblog.com/2011/01/summing-up-alt-summit-2011.html">Danni</a>
                <span>
                    It was lots of fun.
                </span>
            </li>
            <li>
                <a href="http://www.fernandfeather.com/2011/01/alt-recap-in-list.html">
                    <img src="http://images.melissaesplin.com/calligraphy/blurbs/alexis.png">
                </a>
                <a class="blurb-link" href="http://www.fernandfeather.com/2011/01/alt-recap-in-list.html">Alexis</a>
                <span>
                    I can not wait to use calligraphy for letters, packaging, gifts. . . the list goes on.
                </span>
            </li>
            <li>
                <a href="http://www.designcrushblog.com/2012/01/24/calligraphy/">
                    <img src="http://images.melissaesplin.com/calligraphy/blurbs/kelly.png">
                </a>
                <a class="blurb-link" href="http://www.designcrushblog.com/2012/01/24/calligraphy/">Kelly</a>
                <span>
                    When Melissa introduced us to Copperplate calligraphy and I started experimenting with letter forms i was sort of instantly hooked.
                </span>
            </li>
        </ul>
    </div>
{% endblock %}
