{% extends '::base.html.twig' %}
{% block main %}
    <div id="sign-up-page" class="meta-page">
        <div class="sign-up-text"></div>
        <div class="stripes"></div>
        <!-- <div class="sign-up-column">
            <span class="dark">videos only</span>
            <ul>
                <li>
                    4 videos
                </li>
                <li>
                    3 weeks of access
                </li>
                <li>
                    Downloadable practice guides
                </li>
            </ul>
            <h3>$45</h3>
            <div class="arrow-down-dark"></div>
            <a href="{{ path('CDEUtilityBundle_index_purchase', { 'slug': 'online-calligraphy-course' }) }}">
                <div class="purchase-text"></div>
            </a>
        </div> -->
        <div class="sign-up-column">
            <span class="light">Online Modern Calligraphy For Beginners</span>
            <p>
                This one-of-a-kind course in modern calligraphy will teach you the tools needed to make calligraphy your own!
            </p>
            <p>
                This course is based on traditional calligraphy in the Copperplate style and covers a lot of the history and traditional methods within that practice, but with an emphasis on how to make it your own. Learn how to use the pointed pen in eight lessons and four videos. Each lesson has exercises for you to practice your new skills, with a access to a private gallery for you to upload your work for critique, pointers and feedback.
            </p>
            <p>
                Work at your own pace and sign up on your own time!
            </p>

            <ul>
                <li>
                    4 videos
                </li>
                <li>
                    8 lessons with photos, guides and illustrations
                </li>
                <li>
                    Class assignments with upload gallery and instructor feedback
                </li>
                <li>
                    4 weeks of access
                </li>
                <li>
                    Downloadable practice guides
                </li>
                <li>
                    Only $95
                </li>
            </ul>
            <div class="arrow-down"></div>
            <a href="{{ path('CDEUtilityBundle_index_purchase', { 'slug': 'online-calligraphy-course' }) }}">
                <div class="purchase-text"></div>
            </a>
        </div>
    </div>
{% endblock %}
