{% extends '::base.html.twig' %}

{% block bottomNav %}
    <a href="{{ path('CDEUserBundle_account_view') }}">
        <li>
            Back to Account
        </li>
    </a>
{% endblock %}

{% block main %}
    <h1>Create New Address</h1>
    <form action="{{ path('CDEUserBundle_address_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    </form>
{% endblock %}
