{% extends '::admin.html.twig' %}

{% block bottomNav %}
    <a href="{{ path('CDEContentBundle_tag_index') }}">
        <li>
            Back to Tags
        </li>
    </a>
{% endblock %}

{% block main %}
    <h1>Create New Tag</h1>
    <form action="{{ path('CDEContentBundle_tag_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    </form>
{% endblock %}
