{% extends '::base.html.twig' %}

{% block bottomNav %}
    {% if app.user %}
        {% if app.user.cart %}
            <a href="{{ path('CDECartBundle_cart_index') }}">
                <li>
                    Review Cart
                </li>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="store-page">
        <div class="shop-text"></div>
        {#<div class="stripes"></div>#}
        <br>
        {% include 'CDECartBundle:Store:type-grid.html.twig' %}
    </div>
{% endblock %}