{% if toc is defined %}
    <div id="toc-partial">
        <h2>Table of Contents</h2>
        {% include 'CDEUtilityBundle:Class:list.toc.html.twig' %}
    </div>
    <div class="right-border"></div>
{% endif %}