{% trans_default_domain 'FOSUserBundle' %}
<div class="background-gray1">
    <ul class="link-list">
        <li class="link-list-item">reset password</li>
    </ul>
</div>
<div class="pure-g-r account-login padded-wrapper">
    <div id="login" class="pure-u-1">

        <form class="qv-form full-width-form centered" name="resetForm" action="{{ path('CDEUtilityBundle_angular_reset_email') }}" method="POST">

            <input style="display: none" type="text" name="redirect" ng-model="redirect" />
            <input style="display: none" type="text" name="origin" ng-model="origin" />
            <br>

            <div class="clearfix pure-g-r">
                <input
                    id="username"
                    class="pure-u-1 pull-left"
                    type="text"
                    name="username"
                    placeholder="Username or email address..."
                    ng-required="true"
                    ng-model="reset.username"
                    qv-focus
                />
            </div>

            <div class="clearfix pure-g-r">
                <div class="pure-u-1-5">
                    <button
                            class="button-primary full-width"
                            type="submit"
                            ng-disabled="resetForm.$invalid"
                            >
                        reset
                    </button>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a class="form-link" ui-sref="login">Login</a>
                </div>
                <div class="pure-u-1-5 text-centered">
                    <a class="form-link" ui-sref="register">Register</a>
                </div>
            </div>

        </form>

    </div>
</div>