<div class="column background-gray1">
    <ul class="link-list">
        <li class="link-list-item">password reset</li>
    </ul>
</div>
<div class="account-management padded-wrapper">


    <!--User Form-->

    <div id="user-form" class="column small-12">

        <form class="qv-form full-width-form centered" name="resetForm" action="/angular/resetting/{{ token }}" method="POST">

            {{ form_widget(form._token) }}
            <br>
            <div class="column small-12">
                <input
                        id="user-new-password"
                        class="column small-12 medium-6"
                        name="password"
                        type="password"
                        placeholder="New password..."
                        ng-model="user.password"
                        ng-minlength="3"
                        />
                <div class="form-error column small-12 medium-6" ng-show="resetForm.password.$error.minlength">Your password is too short</div>
            </div>
            <div class="column small-12">
                <input
                        id="user-verification"
                        class="column small-12 medium-6"
                        name="verification"
                        type="password"
                        placeholder="Verify new password..."
                        ng-model="user.verification"
                        ng-minlength='3'
                        qv-password-verify="user.password"
                        password-verification="user.verification"
                        form-verification="resetForm.verification"
                        />
                <div class="form-error column small-12 medium-6" ng-show="resetForm.verification.$error.required">Please confirm your password</div>
                <div class="form-error column small-12 medium-6" ng-show="resetForm.verification.$error.verify">Verification does not match</div>
            </div>

            <div class="column small-12">
                <button class="button-primary full-width" ng-disabled="userForm.$invalid">Submit</button>
            </div>
            <br>
            <br>

        </form>
    </div>


</div>